#root {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root button {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  z-index: 1;
}

#root button:hover {
  cursor: pointer;
}
