main {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

main h1 {
    text-align: center;
}

main p {
    font-size: 20px;
}

main button {
    margin: 25px;
    width: fit-content;
    margin: 25px auto;
    padding: 12px 24px;
    font-size: 20px;
}